<div class="navd">
    <nav class="nav">
        <img class="nav_logo" src="/img/ucp.png" alt="logo">
        <div class="nav_links">
            <a class="nav_link" href="#inicio">Inicio</a>
            <a class="nav_link" href="#infoge">articulo 1</a>
            <a class="nav_link" href="#perf">articulo 2</a>
            <a class="nav_link" href="">articulo 3</a>
            <a class="nav_link" href="https://pwebebsco.loginproxy.ucp.edu.co/ehost/detail/detail?vid=5&sid=09d1515b-eee0-4bf9-b112-4b9fa64fccab%40redis&bdata=Jmxhbmc9ZXMmc2l0ZT1laG9zdC1saXZl#AN=157643767&db=iih">sources</a>
        </div>
    </nav>
</div>

<div class="articles">
    <article>
        <img src="/img/art1.png" alt="">
        <h1>{{title}}</h1>
        <p>{{article1}} </p>
    </article>

    <article>
        <img src="/img/art2.png" alt="">
        <h2>{{title2}}</h2>
        <p>{{article2}}</p>
    </article>

    <article>
        <img src="/img/art3.png" alt="">
        <h3>{{title3}}</h3>
        <p>{{article3}} </p>
    </article>

    
</div>